/**************/
/*Confirmation*/
/**************/
.confirmation {
    margin: 85px auto;
    width: 50%;
}

.confirmation p {
    background-color: white;
    color: #3d424f;
    text-align: center;
    font-weight: 500;
    padding: 30px;
    border-radius: 25px;
    line-height: 1.8em;
}

/***************/
/*Media queries*/
/***************/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .confirmation {
        margin: 85px auto;
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .confirmation {
        width: 100%;
        font-size: 15px;
    }
}