/*********/
/*GENERAL*/
/*********/

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	color: white;	
}
h1 {
	font-size: 48px;
	font-weight: 700;
	margin-top: 135px;
	text-align: center;
}
h2 {
	font-weight: 400;
	margin-bottom: 60px;
	text-align: center;
}
.logo {
	height: 100px;
}

/*maxwidth + centering*/
.limitedWidthBlockContainer {
	display: flex;
	justify-content: center;
}
.limitedWidthBlock {
	width: 100%;
	max-width: 1400px;
	padding: 0 25px;
}

/*Colors*/
:root {
	--main-color: #3498db;
	--secondary-color: #2c3e50;
	--text-color: #3d4c68;
	--footer-text-color: #a6b0b3; 
	--footer-main-color: #3d424f; 
	--footer-secondary-color: #2d2f3e;
	/*background-color: var(--main-color);*/
}

/********/
/*Header*/
/********/

/*informations*/
.informations {
	font-size: 13px;
	background-color: var(--main-color);
}
.informations img {
	height: 17px;
}
.informations ul {
	display: flex;
	padding-left: 0;
	justify-content: space-evenly;
	width: 70%;
	margin: 20px auto;
}
.informations ul li {
	display: flex;
	list-style: none;
}
.informations__phone,
.informations__mail {
	margin-right: 10px;
}

/*menu*/
.menu {
	background-color: white;
}
.menu .limitedWidthBlock {
	display: flex;
	justify-content: space-between;
}
.menu a {
	display: flex;
	align-items: center;
	text-decoration: none;
}
.menu nav {
	display: flex;
}
nav ul {
	display: flex;
	margin: 0;
	line-height: 130px;
	padding-left: 0px;
}
nav ul li {
	list-style: none;
	margin-left: 50px;
}
nav ul li a{
	color: var(--text-color);
}
nav ul li a:hover {
	font-weight: 600;
	color: #3498db;
}

/*banniere*/
.banniere {
	width: 100%;
	height: 550px;
	object-fit: cover;
	display: flex;
}

/******/
/*Main*/
/******/

main {
	background-color: var(--main-color);
}

/*items*/
.items {
	margin-bottom: 135px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.items a {
	width: 21%;
	text-decoration: none;
	color: unset;
}
.items a:hover article {
	box-shadow: rgba(42, 18, 206, 0.9) 0 0 22px 6px;
}
.items article {
	background-color: var(--secondary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
	padding-top: 25px;
	width: 100%;
	border-radius: 10px;
}
.items article img {
	width: 80%;
	height: 160px;
	object-fit: cover;
	border-radius: 10px;
}
.items article h3 {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}
.items article p {
	text-align: center;
	padding-left: 23px;
	padding-right: 23px;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;

	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	white-space: normal;
	
}

article p.product-description{
	width: 55%;
	padding-left: 0;
	padding-right: 0;

}

/********/
/*Footer*/
/********/

footer {
	color: var(--footer-text-color);
	display: flex;
	flex-direction: column;
	font-size: 14px;
}
footer .footerMain,
footer .footerSecondary {
	width: 100%;
}

/*footerMain*/
.footerMain {
	background-color: var(--footer-main-color);
	padding: 50px 0;
}
.footerMain .limitedWidthBlock {
	display: flex;
	justify-content: space-between;
}
.footerMain .limitedWidthBlock div {
	display: flex;
	align-items: center;
}

/*footerSecondary*/
.footerSecondary {
	background-color: var(--footer-secondary-color);
	padding: 25px 0;
	text-align: center;
}

/***************/
/*Media queries*/
/***************/

@media screen and (min-width: 768px) and (max-width: 1024px) {
	body{
		font-size: 110%;
	}
	.informations {
		font-size: 100%;
	}
	.informations ul {
		width: 100%;
	}
	.informations img {
		height: 20px;
	}
	.items {
		justify-content: space-evenly;
	}
	.items a {
		width: 40%;
	}
	.menu .limitedWidthBlock {
		padding: 0 30px;
	}
	main .limitedWidthBlock {
		padding: 0;
	}
	.footerMain .limitedWidthBlock {
		display: flex;
		align-items: center;
	}
	.footerMain .logo{
		height: 70px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.items article img {
		height: 250px;
	}

}

@media screen and (max-width: 767px) { 
	h1 {
		font-size: 38px;
	}
	.informations .limitedWidthBlock {
		padding: 0;
		display: flex;
		justify-content: space-around;
	}
	.informations ul {
		font-size: 80%;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	}
	.informations ul li {
		margin-right: 0;
	}
	.informations img {
		height: 12px;
	}
	.menu .limitedWidthBlock {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.logo {
		margin-top: 20px;
	}
	.menu nav ul {
		padding: 0;
		line-height: 80px;
	}
	 nav ul li {
		margin: 0 20px;
	}
	.menu nav ul a:first-child li {
		margin-left: 0;
	}
	.items a {
		width: 95%;
	}
	.footerMain {
		justify-content: flex-start;
	}
	.footerMain .limitedWidthBlock {
		display: flex;
		flex-wrap: wrap;
		width: 50%;
	}
}